/*Master styles*/
body {
    font-family:"lato", sans-serif;
    margin: 0px;
}

.firstContainer {
    display: grid;
    grid-template-columns: 1fr;
}

/*Navigation Bar styles*/

.navigationTopHomeBar{
    display: flex;

    justify-content: space-between;
    padding: 38px;
}

.leftContainer{
    display:flex;
}

.navigationTopHomeBar > .leftContainer > div{
    margin-right: 20px;
    font-size:0.9em;
    text-transform:uppercase;
}

.centerContainer {
    height: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.rightContainer{

}

.button {
 
    height: 25px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.button a {
    font-size: 20px;
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.button:hover {
    border-bottom: 2px solid black;
}
.button a:hover {
   color: black;
}


.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}
/*portfolio styles*/
.itemsBarSecondContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridBoxes {
    position: relative;
}

.gridBackgroundImage {
    height: 350px;

    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageStyles {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
    margin-bottom: 20px;
}

.imageStyles .subTitleTextOnImage {
    transition: 1s;
    font-size: 30px;
    font-weight: 600;
    color: transparent;
}

.imageStyles:hover .subTitleTextOnImage {
    font-weight: 600;
    font-size: 30px;
    color: orangered;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}
/* About page styles*/

.mainAboutPage {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.imageForAboutPage {
    width: 100%;
}
.descrptionMainAboutPage {
    padding: 10px;
}

.descrptionMainAboutPage h1{
    color: lightgreen
}
